name: CI Pipeline for MLC-LLM Repository

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:


env:
  RELEASE_NAME: "mlc-llm"
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}
      
      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME/$RELEASE_NAME:latest .
      
      - name: Push Docker Image to GitHub Container Registry
        run: |
          docker push $IMAGE_NAME/$RELEASE_NAME:latest
  
  # test:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   permissions:
  #     contents: read
  #     packages: read

  #   steps:
  #     - name: Checkout Repository
  #       uses: actions/checkout@v4

  #     - name: Login to Github Container Registry
  #       uses: docker/login-action@v3
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.repository_owner }}
  #         password: ${{ secrets.GHCR_TOKEN }}

  #     - name: Pull Docker Image from GitHub Container Registry
  #       run: |
  #         docker pull $IMAGE_NAME/$RELEASE_NAME:latest

  #     - name: Run Tests inside Docker Container
  #       run: |
  #         docker run --rm \
  #           -v ${{ github.workspace }}:/workspace/mlc-llm-test \
  #           $IMAGE_NAME/$RELEASE_NAME:latest bash -c "
  #               cd /workspace/mlc-llm-test &&
  #               pip install pytest &&
  #               pytest -q
  #         "

  build-linux:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Pull Docker Image from GitHub Container Registry
        run: |
          docker pull $IMAGE_NAME/$RELEASE_NAME:latest

      - name: Build Release inside Docker Container
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace/mlc-llm-test \
            $IMAGE_NAME/$RELEASE_NAME:latest build

      - name: Upload Release Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: $RELEASE_NAME-linux
          path: mlc-llm-test/python/dist/*.whl
  
  release:
    runs-on: ubuntu-latest
    needs: build-linux
    permissions:
      contents: read
      packages: write

    steps:
      - name: Download Release Artifacts
        uses: actions/download-artifact@v4
        with:
          name: $RELEASE_NAME-linux
